<!-- <div class="col-12 col-md-3" > -->
    <mat-card>
      <mat-card-header style="background-color: #d0efff; display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h5 style="font-size:90%;color: grey; font-weight: 500;">GRAND TOTAL - 2 Travellers</h5>
            </div>
          <div
            style="background-color: red; color: white; padding: 5px; height: 35px; font-weight: 600; font-size: smaller; border-radius: 5px;">
            26% OFF</div>
        </div>
        <p style="text-decoration: line-through; font-size: medium;color: grey;">₹60,648 </p>
        <div class="row"><h3 style="font-weight: 700;">₹46,468 <span style="font-size: small;color: grey;">(Inclusive of GST)</span></h3></div>
        <h4 style="font-weight: 500;margin-bottom: 10px;">Pay Full Amount Now</h4>
      </mat-card-header>
      <div class="vstack gap-3">
        <div class="p-2">
            <h4 style="margin-top: 5px;">Fare Breakup</h4>
        </div>
        <div class="p-2">
            <div class="hstack gap-3">
                <div class="p-2">
                    <h5>Total Basic Cost</h5>
                    <h5 style="font-size:90%;color: grey; font-weight: 500;">*2 Travellers</h5>
                </div>
                <div class="p-2">
                    <h5>₹46,468</h5>
                </div>
            </div>
        </div>
        <hr class="hr" />
        <div class="p-2">
            <div class="hstack gap-3">
                <div class="p-2">
                    <h5>Coupon Discount</h5>
                    <div
            style="background-color: #d1f8e6; color: darkgreen; padding: 5px; height: 35px; font-weight: 600; font-size: smaller; border-radius: 5px; width: 55%;">
            ILOVETRAVEL</div>
                </div>
                <div class="p-2">
                    <h5 style="font-size: large;">-₹8,000</h5>
                </div>
            </div>
        </div>
        <hr class="hr" />
        <div class="p-2">
            <div class="hstack gap-3">
                <div class="p-2">
                    <h5>Fees And Taxes</h5>
                    <h5 style="font-size:90%;color: grey; font-weight: 500;">GST 5.0%</h5>
                </div>
                <div class="p-2">
                    <h5>+₹2,200</h5>
                </div>
            </div>
        </div>
      </div>

      <mat-card-content>

        
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions> 
            <!-- (click)="sendEnquiry('Premium')" -->
            <button matTooltip="" style="background-color:rgb(40, 40, 196);color: white ; border-radius: 10px; width: 70%;height: 50px;">PAY NOW</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  <!-- </div> -->
