<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <div class="webname" routerLink="" style="cursor: pointer;">
      <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/airport.png" alt="airport" style="margin-right: 5%;"/>
      <h2 class="navbar-brand" style="font-weight: 600;color: black;margin-top: 7px;">BON VOYAGE</h2>
    </div>
    <ul class="navbar-nav" style="margin-right: 7%;">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/package/1']" routerLinkActive="active">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/place/1']" routerLinkActive="active">Places</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/hotel/1']" routerLinkActive="active">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help/1']" routerLinkActive="active">Help</a>
      </li>
    </ul>
  </div>
</nav>
