<app-navbar></app-navbar>
<div style="margin-bottom: 70px;"><span></span></div>
<router-outlet></router-outlet>
<div class="footer-container">
  <footer>
    <div class="about-section">
      <h3>About Us</h3>
      <p>Truth , Trust and Transparency</p>
      <!-- Add more content about your website or organization -->
      <p>Contact us at: <a href="mailto:bonvoyage@gmail.com">bonvoyage@gmail.com</a></p>
      <!-- Add Address -->
      <p>Visit us at: IBC Knowledge Park, Dairy Circle, Bengaluru, Karnataka 560029</p>
      <!-- Add Social Networking Icons using MatIcon -->
     <!-- Update the social-icons section in your HTML -->
 <div class="social-icons">
  <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
    <mat-icon>facebook</mat-icon>
  </a>
  <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://api.whatsapp.com" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp"></i>
 </a>

</div>
 </div>
  </footer>
</div>
