<div class="home">
<header>
  <div class="content">
      <div class="cont_bx" style="margin-bottom: 34px;">
          <h1>The right destination for you and your family</h1>
          <p></p>
          <button>Start your search</button>
      </div>
      <div class="trip_bx">
          <div class="search_bx" style="height: max-content; width: max-content;">
              <div class="card1">
                  <h4>Location<i class="bi bi-caret-down-fill"></i></h4>
                  <input type="text" placeholder="Enter your destination">
              </div>
              <div class="card1">
                  <h4>Date<i class="bi bi-caret-down-fill"></i></h4>
                  <input type="date">
              </div>
              <div class="card1">
                  <h4>People<i class="bi bi-caret-down-fill"></i></h4>
                  <input type="number" placeholder="How many People?">
              </div>
              <button class="btn" style="background-color: rgb(0, 0, 0); color: white;" (click)="sendEnquiry('Premium')" matTooltip="Click on Enquire Now to Enquire about Holiday Packages">Enquire
                Now</button>
          </div>
          <div class="travel_bx">
              <h4 style="font-weight: 700;">Countries to travel</h4>
              <div class="cards">
                  <div class="card1" routerLink="/packages">
                      <h3>INDIA <img src="../../assets/icon/india.png" alt=""></h3>
                      <img src="../../assets/img/Mumbai-India-at-night.jpg" alt="">
                      <div class="btn_city">
                          <a routerLink="/package/1">Read Now</a>
                          <h5>Mumbai Central <br> <span>$460</span></h5>
                      </div>
                  </div>
                  <div class="card1">
                      <h3>UNITED STATES <img src="../../assets/icon/united-states.png" alt=""></h3>
                      <img src="../../assets/img/newyork.webp" alt="">
                      <div class="btn_city">
                          <a href="">Read Now</a>
                          <h5>New York <br> <span>$870</span></h5>
                      </div>
                  </div>
                  <div class="card1">
                      <h3>RUSSIA <img src="../../assets/icon/russia.png" alt=""></h3>
                      <img src="../../assets/img/sanpitersburg.jpg" alt="">
                      <div class="btn_city">
                          <a href="">Read Now</a>
                          <h5>Saint Petersburg <br> <span>$660</span></h5>
                      </div>
                  </div>
                  <div class="card1">
                      <h3>SPAIN <img src="../../assets/icon/spain.png" alt=""></h3>
                      <img src="../../assets/img/barcelona.jpg" alt="">
                      <div class="btn_city">
                          <a href="">Read Now</a>
                          <h5>Barcelona <br> <span>$730</span></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="offers">
  <h1>Best tour Package offers for You</h1>
  <p>choose your next destination</p>
  <div class="cards">
      <div class="card1">
          <h3>Lotus-Dehli</h3>
          <div class="img_text">
              <img src="../../assets/img/lotus_temple.jpg" alt="">
              <h4>Inclded: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
          </div>
          <div class="cont_bx">
              <div class="price">
                  <div class="heart_chat">
                      <i class="bi bi-heart-fill"><span>86415</span></i>
                      <i class="bi bi-chat-fill"><span>4586</span></i>
                  </div>
                  <div class="info_price">
                      <a href="">More Info</a>
                      <h4>$2648</h4>
                  </div>
              </div>
              <div class="dayes">5 Days <br> India</div>
          </div>
      </div>
      <div class="card1">
          <h3>Burj Khalifa-DXB</h3>
          <div class="img_text">
              <img src="../../assets/img/burjkhlifa.jpg" alt="">
              <h4>Inclded: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
          </div>
          <div class="cont_bx">
              <div class="price">
                  <div class="heart_chat">
                      <i class="bi bi-heart-fill"><span>86415</span></i>
                      <i class="bi bi-chat-fill"><span>4586</span></i>
                  </div>
                  <div class="info_price">
                      <a href="">More Info</a>
                      <h4>$2648</h4>
                  </div>
              </div>
              <div class="dayes">5 Days <br> Dubai</div>
          </div>
      </div>
      <div class="card1">
          <h3>Piramids-Egypt</h3>
          <div class="img_text">
              <img src="../../assets/img/piramids.jpg" alt="">
              <h4>Inclded: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
          </div>
          <div class="cont_bx">
              <div class="price">
                  <div class="heart_chat">
                      <i class="bi bi-heart-fill"><span>86415</span></i>
                      <i class="bi bi-chat-fill"><span>4586</span></i>
                  </div>
                  <div class="info_price">
                      <a href="">More Info</a>
                      <h4>$2648</h4>
                  </div>
              </div>
              <div class="dayes">7 Days <br> Egypt</div>
          </div>
      </div>
      <div class="card1">
          <h3>Mountain-Vietnam</h3>
          <div class="img_text">
              <img src="../../assets/img/mountain.jpg" alt="">
              <h4>Inclded: Air ticket, Hotel, Breakfast, Tours, Airport Transfer</h4>
          </div>
          <div class="cont_bx">
              <div class="price">
                  <div class="heart_chat">
                      <i class="bi bi-heart-fill"><span>86415</span></i>
                      <i class="bi bi-chat-fill"><span>4586</span></i>
                  </div>
                  <div class="info_price">
                      <a href="">More Info</a>
                      <h4>$2648</h4>
                  </div>
              </div>
              <div class="dayes">7 Days <br> Veitna</div>
          </div>
      </div>
  </div>
</div>
<div class="destination" style="margin-bottom: 30px;">
  <div class="des_bx">
      <h4>Our Destination</h4>
      <p>choose your next Destination</p>
      <li>India</li>
      <li>Dubai</li>
      <li>USA</li>
      <li>Vietnam</li>
      <li>Russia</li>
      <li>Brazil</li>
      <h6>Included: Air ticket, Hotel, Breakfast, Tours, Airport transfer</h6>
      <button>MORE INFO</button>
  </div>
  <div class="img_bx">
      <img src="../../assets/img/Main_plan.png" alt="">
      <div class="msg">
          <img src="../../assets/icon/round_india_flag.png" alt="">
          <div class="cont">
              <h4>India</h4>
              <div class="icon">
                  <i class="bi bi-heart-fill"><span>86415</span></i>
                  <i class="bi bi-chat-fill"><span>4586</span></i>
              </div>
          </div>
      </div>
      <div class="msg">
          <img src="../../assets/icon/united-states.png" alt="">
          <div class="cont">
              <h4>United States</h4>
              <div class="icon">
                  <i class="bi bi-heart-fill"><span>86415</span></i>
                  <i class="bi bi-chat-fill"><span>4586</span></i>
              </div>
          </div>
      </div>
  </div>
</div>
</div>