<!-- landing-page.component.html -->

<div class="landing-page">
  <h2>GOA - All-Inclusive 3N Holiday - Flights, Sightseeing & Transfers</h2>
  <p>A package ideal for families looking to relax on the beach with transfers, hotels and sight seeing included.</p>
  <div class="premium-package">
    <p>Number of Days: {{ premiumPackage.numberOfDays }}</p>
    <p>Number of Persons: {{ premiumPackage.numberOfPersons }}</p>
    <p>Price: {{ premiumPackage.price }}</p>
  </div>


  <div style="display: flex; justify-content: center;width: 95%;">
    <div class="row" style="width: 100%;">
      <div class="col-12 col-md-9 border">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="1000ms">
          <mat-tab label="SCHEDULE">
            <div class="schedule" style="margin-top: 15px;">
              <div class="row" style="width: 100%;">
                <div class="col-2 border">
                  <h5>Day Plan</h5>

                  <p>26 Apr, Fri</p>
                  <p>27 Apr, Sat</p>
                  <p>28 Apr, Sun</p>
                  <p>29 Apr, Mon</p>
                </div>
                <div class="col-10 border">
                  <div class="vstack gap-3">
                    <div class="p-2">
                      <span class="badge" style="background-color: rgb(40, 40, 196); font-size: medium;">Day 1 - Arrival in Goa - Dabolim Airport</span>
                      <p class="float-end" style="font-size: small;">INCLUDED: <img
                          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nO3UMUpDQRDG8R8xoCjY24hHsBILLxBEPIJdruAV0lraBbvUnsLKSiwDSbpUEdIlPFkYQdaXxRBfkzjwwTLz9v89dmaXXYprTDBGpwmDMarQqAmDKtO/wRYd0QmeagyecboJuIUuZjXwL81xj7114ed4KYBzveLiN+BD9LBYA16FlnjE8Sr4bdzQfOMHBjX5QdTy/ChYP+L7R9No7A32C1PUxhUe4p0qTtl7HM9lNLj0A1VNvRV7e8HaoYvWuMFBNDE3SENw9BcGb4XZT7WNY4g+7nAWSuuUS7Utj0+wzoaLy+LyBwAAAABJRU5ErkJggg==">1
                        Flight |
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/hotel-star.png"
                          alt="hotel-star" />1 Hotel |
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/car--v1.png"
                          alt="car--v1" />1 Transfer
                      </p>

                      <span class="badge text-bg-secondary"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/airport.png" alt="airport"/> Flight
                        from Bengaluru to Goa - Dabolim Airport 01h 10m</span>
                        <hr class="hr" />
                        <span class="badge text-bg-dark">Airport to hotel in Goa 1 hrs</span>
                        <div class="hstack gap-3">
                          <div class="p-2">
                            <img width="200px" height="120px" src="https://hldak.mmtcdn.com/prod-s3-activity-templates/activitiesImagesFinal/activity/GOI/TRF212788_3.jpg" alt="">
                          </div>
                          <div class="p-2 ms-auto">
                            <h6>Private Transfer</h6>
                            <p style="font-size: smaller;">Travel comfortably in a private vehicle from Goa Airport/Railway Station (Thivim, Karmali and Madgaon) to your hotel in Goa. Note: There will be non stop-overs allowed during this transfer.
                            </p>
                          </div>
                        </div>
                        <hr class="hr" />
                        <span class="badge text-bg-dark">Check-in to Hotel in Morjim - 1 PM</span>
                        <div class="hstack gap-3">
                          <div class="p-2">
                            <img width="200px" height="120px" src="https://r1imghtlak.mmtcdn.com/0e20474ec7a311e88d830224510f5e5b.jpg?&downsize=900:675&crop=900:675;35,0&output-format=jpg" alt="">
                          </div>
                          <div class="p-2 ms-auto">
                            <h6 class="float-start">
                              Turtle Beach Resort - Morjim </h6>
                            <p  class="float-start" style="font-size: smaller;">Morjim (3-4 minutes walk from Morjim Beach)
                            </p>
                          </div>
                        </div>
                        <div style="background-color: #d0efff;width: 100%;height: 40px; text-align: center;padding: 5px;">End Of Day - Spend time at Leisure or add an activity to your day</div>
                    </div>
                    <div class="p-2">
                      <span class="badge" style="background-color: rgb(40, 40, 196); font-size: medium;">Day 2 - Goa</span>
                      <br>
                      <span class="badge text-bg-dark">Activity in Goa 1 Hr</span>
                      <div class="hstack gap-3">
                        <div class="p-2">
                          <img width="200px" height="120px" src="https://hldak.mmtcdn.com/prod-s3-activity-templates/activitiesImagesFinal/activity/GOI/ACT495799_4.PNG" alt="">
                        </div>
                        <div class="p-2 ms-auto">
                          <h6 class="float-start">
                            Photoshoot in North Goa</h6>
                          <p  class="float-start" style="font-size: smaller;">Goa, India
                            Capture beautiful moments of your holiday with a romantic photoshoot in North Goa. 
                          </p>
                        </div>
                      </div>
                      <hr class="hr" />
                      <span class="badge text-bg-dark">Activity in Goa 9 Hrs</span>
                      <div class="hstack gap-3">
                        <div class="p-2">
                          <img width="200px" height="120px" src="https://hldak.mmtcdn.com/prod-s3-activity-templates/activitiesImagesFinal/activity/GOI/ACT10000000009994_2.jpg" alt="">
                        </div>
                        <div class="p-2 ms-auto">
                          <h6 class="float-start">
                            North Goa Sightseeing (Private Transfers) Goa, India</h6>
                          <p  class="float-start" style="font-size: smaller;">Spend the day visiting happening markets and beaches in North Goa. Visit beautiful attractions like Fort Aguada, Sinquerim Beach, Calangute Beach, Baga Beach, Anjuna, Vagator Beach and Chapora Fort. 
                          </p>
                        </div>
                      </div>
                      
                        <div style="background-color: #d0efff;width: 100%;height: 40px; text-align: center;padding: 5px;">End Of Day - Spend time at Leisure or add an activity to your day</div>

                    </div>
                    <div class="p-2">
                      <span class="badge" style="background-color: rgb(40, 40, 196); font-size: medium;">Day 3 - Goa</span>
                      <br>
                      <span class="badge text-bg-dark">Activity in Goa 9 Hrs</span>
                      <div class="hstack gap-3">
                        <div class="p-2">
                          <img width="200px" height="120px" src="https://hldak.mmtcdn.com/prod-s3-activity-templates/activitiesImagesFinal/activity/GOI/ACT10000000009994_2.jpg" alt="">
                        </div>
                        <div class="p-2 ms-auto">
                          <h6 class="float-start">
                            South Goa Sightseeing (Private Transfers)</h6>
                          <p  class="float-start" style="font-size: smaller;">
                            Pristine beaches, Portuguese architecture, shopping and the old world charm - South Goa offers it all Visit Shree Manguesh Temple, Old Goa Churches - Ce Cathedral and Basilica of Bom Jesus.
                          </p>
                        </div>
                      </div>
                        <div style="background-color: #d0efff;width: 100%;height: 40px; text-align: center;padding: 5px;">End Of Day - Spend time at Leisure or add an activity to your day</div>

                    </div>
                    <div class="p-2">
                      <span class="badge" style="background-color: rgb(40, 40, 196); font-size: medium;">Day 4 - Departure from Goa (North)</span>
                      <p class="float-end"  style="font-size: small;">INCLUDED: <img
                          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVR4nO3UMUpDQRDG8R8xoCjY24hHsBILLxBEPIJdruAV0lraBbvUnsLKSiwDSbpUEdIlPFkYQdaXxRBfkzjwwTLz9v89dmaXXYprTDBGpwmDMarQqAmDKtO/wRYd0QmeagyecboJuIUuZjXwL81xj7114ed4KYBzveLiN+BD9LBYA16FlnjE8Sr4bdzQfOMHBjX5QdTy/ChYP+L7R9No7A32C1PUxhUe4p0qTtl7HM9lNLj0A1VNvRV7e8HaoYvWuMFBNDE3SENw9BcGb4XZT7WNY4g+7nAWSuuUS7Utj0+wzoaLy+LyBwAAAABJRU5ErkJggg==">1
                        Flight |
                        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/car--v1.png"
                          alt="car--v1" />1 Transfer
                      </p>
                      <p><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/hotel-star.png"
                        alt="hotel-star" /> Checkout from Hotel in Goa</p>
                      <span class="badge text-bg-dark">Hotel in Goa to Airport in 1 hrs</span>
                        <div class="hstack gap-3">
                          <div class="p-2">
                            <img width="200px" height="120px" src="https://hldak.mmtcdn.com/prod-s3-activity-templates/activitiesImagesFinal/activity/GOI/TRF212788_3.jpg" alt="">
                          </div>
                          <div class="p-2 ms-auto">
                            <h6>Private Transfer</h6>
                            <p style="font-size: smaller;">Travel comfortably in a private vehicle from Goa Airport/Railway Station (Thivim, Karmali and Madgaon) to your hotel in Goa. Note: There will be non stop-overs allowed during this transfer.
                            </p>
                          </div>
                        </div>

                      <span class="badge text-bg-secondary"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/FFFFFF/airport.png" alt="airport"/> Flight from Goa (North) to Bengaluru 01h 10m</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="POLICIES">
            <div class="policies" style="margin-top: 18px;">
            <mat-accordion>
              <mat-expansion-panel (opened)="cancelPanelOpenState = true" (closed)="cancelPanelOpenState = false">
                <mat-expansion-panel-header>
                  <h5><mat-panel-title>
                      Cancellation & Date Change
                    </mat-panel-title></h5>
                </mat-expansion-panel-header>
                <h6>Package Cancellation Policy</h6>
                <p style="color: red;">Cancellation not possible after booking</p>
                <br>
                <h6>Package Date Change Policy</h6>
                <p style="color: red;">Date Change not possible after booking</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="tandcPanelOpenState = true" (closed)="tandcPanelOpenState = false">
                <mat-expansion-panel-header>
                  <h5><mat-panel-title>
                      Terms and Conditions
                    </mat-panel-title></h5>
                </mat-expansion-panel-header>
                <p>Exclusions</p>
                <ul>
                  <li>Expenses of personal nature
                  </li>
                  <li>Mentioned cost is not valid between 6 pm and 8 am</li>
                  <li>Anything not mentioned under inclusions
                  </li>
                  <li>Package price does not include Gala dinner charges applicable on Christmas and New Year's Eve</li>
                </ul>

                <br>
                <p>Terms and Conditions</p>
                <ul>
                  <li>Standard check-in time at the hotel is normally 2:00 pm and check-out is 11:00 am. An early
                    check-in, or a late check-out is solely based on the discretion of the hotel.
                  </li>
                  <li>A maximum of 3 adults are allowed in one room. The third occupant shall be provided a
                    mattress/rollaway bed.</li>
                  <li>Also, for any activity which is complimentary and not charged to MMT & guest, no refund will be
                    processed.
                  </li>
                  <li>AC will not be functional anywhere in cool or hilly areas.</li>
                  <li>Entrance fee, parking and guide charges are not included in the packages.
                  </li>
                  <li>Booking rates are subject to change without prior notice.
                  </li>
                  <li>Airline seats and hotel rooms are subject to availability at the time of booking.
                  </li>
                  <li>In case of unavailability in the listed hotels, arrangement for an alternate accommodation will be
                    made in a hotel of similar standard.
                  </li>
                </ul>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
          </mat-tab>
          <!-- <mat-tab label="SUMMARY">Content 3</mat-tab> -->
        </mat-tab-group>
      </div>
      <div class="col-12 col-md-3" >

        <app-form></app-form>

        <mat-card>
          <mat-card-header style="background-color: #d0efff; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between;">
              <div>
                <p style="text-decoration: line-through; font-size: smaller;color: grey;margin-top: 10px;">₹23,648 </p>
              </div>
              <div
              style="background-color: red; color: white; padding: 5px; height: 35px; font-weight: 600; font-size: smaller; border-radius: 5px;">
              26% OFF</div>
          </div>
            
            <div class="row"><h3 style="font-weight: 700;">₹17,000 <span style="font-size: x-small;color: grey;">per person*</span> </h3> </div>
            
            <p style="color:grey">*Excluding applicable taxes</p>
          </mat-card-header>

          <mat-card-content>
            <!-- <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field> -->
          </mat-card-content>
          <mat-card-footer>
            <mat-card-actions>
              <a routerLink="/traveller" matTooltip="Click on Book now , to Book Your Package" style="background-color:rgb(40, 40, 196) ; border-radius: 10px;">Proceed to Book Online</a>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>


  <!-- <div class="places-container">
      <div *ngFor="let place of places" class="place-card">
        <img [src]="place.image" alt="{{ place.name }}" class="place-image">
        <div class="place-details">
          <h3>{{ place.name }}</h3>
          <p>Number of Days: {{ place.numberOfDays }}</p>
          <p>Price: {{ place.price }}</p>
          <a [routerLink]="['/place', place.id]">Know about place</a>
          <a [routerLink]="['/hotel', place.id]">Your hotel stay</a>
        </div>
      </div>
    </div> -->
  <!-- <a class="btn" style="background-color: rgb(40, 40, 196);" (click)="sendEnquiry('Premium')" matTooltip="Click on Book now , to Book Your Package">Book
    Now</a> -->
</div>